@font-face {
  font-family: 'NanumGaRamYeonGgoc';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGaRamYeonGgoc/NanumGaRamYeonGgoc.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGaRamYeonGgoc/NanumGaRamYeonGgoc.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGaRamYeonGgoc/NanumGaRamYeonGgoc.ttf') format('truetype');
}